[D-BUS Service]
Interface=/org/nemo/transferengine
Name=org.nemo.transferengine
Exec=/usr/bin/invoker --type=qt5 --global-syms /usr/bin/nemo-transfer-engine
SystemdService=transferengine.service
